@font-face {
    font-family: "Consolas";
    src: url("../../Assets/Fonts/Consolas.ttf");
}

/*
 * Primary color: #1a1a1d
 * Primary sub color: #27272B
 * Primary sub sub color: #303036
 * Secundary color: #41413F
 * Accent 1 color: #DF775C
 * Accent 2 color: #846A59
 * Text color: #F3E7C7
*/

html {
    margin:                     0;
    padding:                    0;
    width:                      100vw;
    height:                     100vh;
}
body {
    height:                     100vh;
    background-color:           #1a1a1d;
    display:                    grid;
    grid-template-rows:         1fr max-content max-content 1fr;
    width:                      max-content;
    margin:                     auto;
    padding:                    0;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}
#centeredLogo {
    width:                      100%;
    height:                     100%;
    font-size:                  2em;
    font-family:                Consolas;
    color:                      #fff;
    font-weight:                500;
    text-align:                 center;
}
.logo {
    width:                      100%;
    height:                     100%;
    font-size:                  3em;
    font-family:                Consolas;
    color:                      #EC4E20;
    text-align:                 center;
}